<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>documentconvert2</display-name>
  
  <servlet>
  	<servlet-name>upLoadServlet</servlet-name>
  	<servlet-class>com.zjw.convert.servlet.UpLoadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>upLoadServlet</servlet-name>
  	<url-pattern>/upLoadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>convertServlet</servlet-name>
  	<servlet-class>com.zjw.convert.servlet.ConvertServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>convertServlet</servlet-name>
  	<url-pattern>/convertServlet</url-pattern>
  </servlet-mapping>
  
</web-app>